/*
Colors used:
Primary Color (Light Blue): #83d9fd;
Secondary Color (Dark Blue): #2c2f3a;
Grey: #707070;
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    font-family: 'lato', sans-serif;
    font-size: 16px;
    /* Sets the font size to 16px */
    font-weight: 300;
    /* Sets the font weight to 300 */
    line-height: 1.6;
    /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;

    margin: auto;
}

header {
    background-color: #2B2F39;
    border: 2px solid #83d9fd;
    padding: 15px 0 15px 0;
}

.logo {
    max-width: 200px;
    text-align: center;
    padding-top: 15px;
}

nav > ul {
    list-style-type: none;
    margin: 5px;
    padding: 0px;

}

nav > ul > li {
    margin: 0px;
    padding: 5px;
}

nav > ul > li > a {
    padding: 0 10px 0 10px;
    margin: 4px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}


nav > ul > li > a:hover {
    opacity: 0.8;
    text-decoration: none;
}


nav > ul > li > a:visited {
    color: #f5f5f5;
}

nav > ul > li > a:active {
    color: #83d9fd;
}

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding: 0;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 127, 80, 0.5);
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;

}

h4 {
    font-size: 1.35em;
    font-weight: 400;
    margin-top: 0;
}

img {
    max-width: 100%;
}

a {
    color: #b1b1b1;
    /* No underlining */
}

a:visited {
    /* visited link */
    color: #777;
}

a:hover,
a:focus {
    color: #b1b1b1;
    text-decoration: underline;
}

a:active {
    color: #777;
}

/*---
.button {
    display: inline-block;
    background-color: #83d9fd;
    color: #ffffff;
    font-weight: 400;
    padding: 12px;
    border-radius: 40px;
    border: 2px solid #2c2f3a;
    text-decoration: none;
    transition: 1.2s;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

.button:active {
    color: #777;
}
---*/

/* Alternative Button */

.button {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    padding: 10px 30px 10px 30px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    line-height: 30px;

    border: 2px solid #2c2f3a;

    background-image: linear-gradient(to right, #2c2f3a 50%, transparent 50%);
    background-position: 100% 0%;
    background-size: 200% 100%;
    transition: 0.5s;

    animation: fadein 0.5s linear 0s forwards;
}

.button:hover {
    color: #83d9fd;
    text-decoration: none;
    background-position: 0% 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.button.contact {
    display: inline-block;
    width: 100%;
    background-color: #83d9fd;
    border: 2px solid #ffffff;
    color: #2c2f3a;
    margin-bottom: 20px;
    opacity: 1;
    -webkit-box-shadow: 2px 1px 7px 0px rgba(45, 50, 50, 0.75);
    -moz-box-shadow: 2px 1px 7px 0px rgba(45, 50, 50, 0.75);
    box-shadow: 2px 1px 7px 0px rgba(255, 255, 255, 0.75);
}


.button.contact:hover {
    opacity: 0.8;
    color: #dddddd;
}


.button.prototype {
    margin-bottom: 15px;
}

/* Layout styling */

.container {
    padding: 0 15px;
    max-width: 1440px;
    margin: 0 auto 0 auto;
}

.row {
    margin: 25px 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #4a4a4a;
}

#work .row:last-child {
    border-bottom: 1px white;
}

#hero {
    background-color: #fafafa;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}

#about-page h3 {
    margin-top: 0;
}

.social::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.social svg {
    max-width: 50px;
}

.social ul li {
    display: inline-block;
    max-width: 50px;
    float: center;
    margin: 10px 30px;
}

.social a {
    text-decoration: none;
}

.social p {
    margin-top: 0;
    font-size: 0.7em;
}

footer ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

footer {
    background-color: #2B2F39;
    color: white;
    border: 2px solid #83d9fd;
    text-align: center;
    padding: 10px 0;
}


footer .far {
    margin: 0 10px 0 0;
    margin: 0 auto;
}

.max-width-text {
    max-width: 900px;
}

.berlin-illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.sun {
    animation-name: color-change;
    animation-direction: normal;
    animation-duration: 5.0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

.cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

.cloud-back {
    animation: 40s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

/* ==============================
Medium devices (850px and larger)
================================= */
@media only screen and (min-width: 850px) {
    header {
        text-align: unset;
        padding: 30px 15px;
    }

    nav {
        width: auto;
        float: right;
    }

    nav > ul > li {
        border: 2px solid #83d9fd;
        background-color: #2c2f3a;
        margin: 0px;
        padding: 5px;
        -webkit-box-shadow: 2px 1px 7px 0px rgba(45, 50, 50, 0.75);
        -moz-box-shadow: 2px 1px 7px 0px rgba(45, 50, 50, 0.75);
        box-shadow: 2px 1px 7px 0px rgba(255, 255, 255, 0.75);
        display: inline-block;
        margin: 0 0 0 15px;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    .logo {
        max-width: 250px;
        padding: 20px 0 10px 0;
    }

    .button.contact {
        width: 40%;
    }

    [class*="col-"] {
        float: left;
        padding: 10px;
    }

    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

    body {
        font-size: 20px;
    }

    .button.contact {
        width: 30%;
    }

    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

    .col-xl-1 {
        width: 8.33%;
    }

    .col-xl-2 {
        width: 16.66%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.33%;
    }

    .col-xl-5 {
        width: 41.66%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 58.33%;
    }

    .col-xl-8 {
        width: 66.66%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83.33%;
    }

    .col-xl-11 {
        width: 91.66%;
    }

    .col-xl-12 {
        width: 100%;
    }
}

/* ==============================
XX-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {

    .col-xxl-1 {
        width: 8.33%;
    }

    .col-xxl-2 {
        width: 16.66%;
    }

    .col-xxl-3 {
        width: 25%;
    }

    .col-xxl-4 {
        width: 33.33%;
    }

    .col-xxl-5 {
        width: 41.66%;
    }

    .col-xxl-6 {
        width: 50%;
    }

    .col-xxl-7 {
        width: 58.33%;
    }

    .col-xxl-8 {
        width: 66.66%;
    }

    .col-xxl-9 {
        width: 75%;
    }

    .col-xxl-10 {
        width: 83.33%;
    }

    .col-xxl-11 {
        width: 91.66%;
    }

    .col-xxl-12 {
        width: 100%;
    }
}
